// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  background-color: #f2efd3;
  color: #717171;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.message:after {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid;
  color: #EED971FF; //Ronchi yellow: #F0D64E
  border-radius: 10px;
  content: '';
  display: block;
}
