<!-- Additional head bits without overriding original head -->

<nav id="lang-sel" >
    <ul class="lang">
        {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
        {% capture link2 %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
        {% if site.lang == "ko" %}
        <li class="masthead_menu-item visible-links">
	        <a href="{{ link1 }}" class="enabled">{% t global.korean%} </a>|<a href="{{ link2 }}"> {% t global.english%}</a>
        </li>
        {% elsif site.lang == "en" %}
        <li class="masthead_menu-item lang">
	        <a href="{{ link1 }}">{% t global.korean%} </a>|<a href="{{ link2 }}" class="enabled"> {% t global.english%}</a>
        </li>
        {% endif %}
    </ul>
 </nav>
