
<div class="projects">
{% for projects in include.list %}
  <article>
    <a href="{{ projects.url }}">
      <img src="{{ projects.img }}" alt="{{ projects.title }} {{ projects.program }}"/>
      <p>{{ projects.title }}</p>
    </a>
    <p>with {{ projects.program }}</p>
    {% if projects.tags %}
      {% for tag in projects.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    {% else %}
      <span class="release-date">{{ album.release_date | date: "%b %-d, %Y" }}</span>
    {% endif %}
  </article>
{% endfor %}
</div>
