
<div class="projects">
{% for projects in include.list %}
  <article>
    <h2 style= 'color:#8A9574;''text-shadow: 2px 2px #FF0000;'>{{ projects.title }}</h2>
    <a href="{{ projects.url }}">
      <img src="{{ projects.img }}" alt="{{ projects.title }} {{ projects.program }}"/>
      </a>
    
    <p>with {{ projects.program }}</p>  
    
    <p><a href="{{ projects.details }}">Read more &#x2192;</a></p>
    {% if projects.tags %}
      {% for tag in projects.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    {% else %}
      <span class="release-date">{{ album.release_date | date: "%b %-d, %Y" }}</span>
    {% endif %}
  </article>
{% endfor %}
</div>
