
<div class="projects">
{% for projects in include.list %}
  <article>
    <p>{{ projects.title }}</p>
    <a href="{{ projects.url }}"></a>
      
      <p>with {{ projects.program }}</p>  
      
    <img src="{{ projects.img }}" alt="{{ projects.title }} {{ projects.program }}"/>
    
    
    <p><a href="{{ projects.details }}">Read more U+02192</a></p>
    {% if projects.tags %}
      {% for tag in projects.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    {% else %}
      <span class="release-date">{{ album.release_date | date: "%b %-d, %Y" }}</span>
    {% endif %}
  </article>
{% endfor %}
</div>
